{% extends "base.html" %}

{% block route %}{{ url_for('smart_insights') }}{% endblock %}

{% block path %}Insights{% endblock %}

{% block page %}Leads{% endblock %}

{% block title %}Smart Leads{% endblock %}

{% block content %}

{% if output %}

{% autoescape false %}

<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card border-0 shadow">
                <div class="card-body">
                    {{ output }}
                    <form method="POST" id="salesForm">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-info animate-up-2 me-1" id="submitButton" onclick="this.innerHTML='<span class=&quot;spinner-border spinner-border-sm&quot; role=&quot;status&quot;></span>'; this.disabled=true; this.form.submit();">
                            Regenerate
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endautoescape %}

{% else %}

<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card border-0 shadow">
                <div class="card-body">
                    <form method="POST" id="salesForm">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="btn btn-lg btn-info animate-up-2 me-1" id="submitButton" onclick="this.innerHTML='<span class=&quot;ms-1&quot;>Generating </span><span class=&quot;spinner-border spinner-border-sm&quot; role=&quot;status&quot;></span>'; this.disabled=true; this.form.submit();">
                            Generate Leads
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}