{% extends 'base.html' %}

{% block title %}Accounts List{% endblock %}

{% block content %}

<div class="py-4">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="{{ url_for('index') }}">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                </a>
            </li>
            <li class="breadcrumb-item"><a href="{{ url_for('accounts_list') }}">Accounts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Accounts List</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Accounts List</h1>
        </div>
       
    </div>
</div>

    <style>

    
        .table-fixed th, .table-fixed td {
        text-overflow: ellipsis;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
        }

        .table-fixed {
        table-layout: fixed;
        width: 100%;
    }
</style>
    
<div class="mt-3 row">
    <div class="col d-flex justify-content-start">
        <a href="{{ url_for('import_accounts') }}">
            <button class="btn btn-primary animate-up-2 me-1" type="button">Import Accounts</button>
        </a>
        <a href="{{ url_for('new_account') }}">
            <button class="btn btn-primary animate-up-2 me-1" type="button">New Account</button>
        </a>
    </div>
    <div class="col d-flex justify-content-end">
        <a href="{{ url_for('clear_accounts') }}">
            <button class="btn btn-danger animate-up-2 me-1" type="button">Clear</button>
        </a>
        <a href="{{ url_for('accounts_list') }}">
            <button class="btn btn-info animate-up-2 me-1" type="button">Refresh</button>
        </a>
    </div>
</div>
    <br>
    <div class="card border-0 shadow">
    {% if accounts%}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded table-fixed">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">Name</th>
                        <th class="border-0">
                            Revenue (millions)
                            <svg data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Sort</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2.24 6.8a.75.75 0 0 0 1.06-.04l1.95-2.1v8.59a.75.75 0 0 0 1.5 0V4.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0L2.2 5.74a.75.75 0 0 0 .04 1.06Zm8 6.4a.75.75 0 0 0-.04 1.06l3.25 3.5a.75.75 0 0 0 1.1 0l3.25-3.5a.75.75 0 1 0-1.1-1.02l-1.95 2.1V6.75a.75.75 0 0 0-1.5 0v8.59l-1.95-2.1a.75.75 0 0 0-1.06-.04Z"></path>
                            </svg>
                        </th>
                        <th class="border-0">
                            Head Count
                            <svg data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Sort</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2.24 6.8a.75.75 0 0 0 1.06-.04l1.95-2.1v8.59a.75.75 0 0 0 1.5 0V4.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0L2.2 5.74a.75.75 0 0 0 .04 1.06Zm8 6.4a.75.75 0 0 0-.04 1.06l3.25 3.5a.75.75 0 0 0 1.1 0l3.25-3.5a.75.75 0 1 0-1.1-1.02l-1.95 2.1V6.75a.75.75 0 0 0-1.5 0v8.59l-1.95-2.1a.75.75 0 0 0-1.06-.04Z"></path>
                            </svg>
                        </th>
                        <th class="border-0">
                            Industry
                            <svg data-slot="icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Filter</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z"></path>
                            </svg>
                        </th>
                        <!-- <th class="border-0">Specialties</th> -->
                        <th class="border-0">
                            Industry
                            <svg data-slot="icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Filter</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z"></path>
                            </svg>
                        </th>
                        <th class="border-0">
                            Country
                            <svg data-slot="icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Filter</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z"></path>
                            </svg>
                        </th>
                        <th class="border-0">
                            City
                            <svg data-slot="icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Filter</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z"></path>
                            </svg>
                        </th>
                        <th class="border-0">
                            Timezone
                            <svg data-slot="icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Filter</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z"></path>
                            </svg>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Item -->
                    {% for account in accounts %}
                    <tr>
                        <td class="fw-bold">
                            <a class="link-info" href="{{ url_for('account', id=account.AccountID) }}">
                                {{ account.CompanyName }}
                            </a>
                        </td>
                        <td>{{ account.CompanyRevenue }}</td>
                        <td>{{ account.EmployeeHeadCount }}</td>
                        <td>{{ account.CompanyIndustry }}</td>
                        <!-- <td>{{ account.CompanySpecialties }}</td> -->
                        <td>{{ account.CompanyType }}</td>
                        <td>{{ account.Country }}</td>
                        <td>{{ account.City }}</td>
                        <td>{{ account.Timezone }}</td>
                    </tr>
                    {% endfor %}
                    <!-- End of Item -->
                </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <br>
            <h4 class="mt-2"><span>No accounts found</span></h4>
            <br>
        </div>
        {% endif %}
    </div>


{% endblock %}