{% extends 'base.html' %}

{% block title %}Accounts List{% endblock %}

{% block route %}{{ url_for('accounts_list') }}{% endblock %}

{% block path %}Accounts{% endblock %}

{% block page %}List{% endblock %}

{% block content %}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Accounts</h1>
        </div>
    </div>
</div>

    <style>

    
        .table-fixed th, .table-fixed td {
        text-overflow: ellipsis;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
        }

        .table-fixed {
        table-layout: fixed;
        width: 100%;
        }
        
        /* Apple select menu styling */
        .apple-select-menu {
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            display: none;
            min-width: auto;
            z-index: 1000;
        }
        
        .apple-select-menu ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .apple-select-menu li {
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.2s;
        }
        
        .apple-select-menu li:hover {
            background-color: #f0f0f5;
        }
        
        /* Show menu on hover */
        /*
        #menu-icon:hover + .apple-select-menu,
        .apple-select-menu:hover {
            display: block;
        }
        */

        /* Change cursor to pointer on hover */
        svg[data-slot="icon"]:hover {
            cursor: pointer;
        }

        .menu.apple-select-menu ul li {
            text-transform: capitalize;
            font-size: 15px;
        }

        #timezone-menu {
            right: 25px; /* Adjust this value as needed */
        }

    </style>
    

    <div class="mt-3 row">
        <div class="col d-flex justify-content-start">
            <!--
            <a href="{{ url_for('import_accounts') }}">
                <button class="btn btn-primary animate-up-2 me-1" type="button">Import</button>
            </a>
            <a href="{{ url_for('new_account') }}">
                <button class="btn btn-primary animate-up-2 me-1" styletype="button">New</button>
            </a>
            -->
            <a href="{{ url_for('import_accounts') }}">
                <button class="btn btn-sm btn-primary animate-up-2 me-1 d-flex align-items-center justify-content-between" type="button">
                    <span class="me-2">Import</span>
                    <svg fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20">
                        <title>Import</title>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
                    </svg>
                </button>
            </a>
            <a href="{{ url_for('new_account') }}">
                <button class="btn btn-sm btn-primary animate-up-2 me-1 d-flex align-items-center justify-content-between" type="button">
                    <span class="me-2">New</span>
                    <svg fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20">
                        <title>New</title>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>
                </button>
            </a>
            <!--
            <a href="{{ url_for('import_accounts') }}">
                <svg data-slot="icon" fill="none" class="me-1" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="25" height="25">
                    <title>Import Accounts</title>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
                </svg>
            </a>

            <a href="{{ url_for('new_account') }}">
                <svg data-slot="icon" fill="none" class="me-1" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="25" height="25">
                    <title>New Account</title>
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                </svg>
            </a>
        -->
        </div>
        <div class="col d-flex justify-content-end align-items-center">
                <!-- Search form -->
                <form class="navbar-search form-inline me-2" id="navbar-search-main">
                    <div class="input-group input-group-merge search-bar">
                        <span class="input-group-text" id="topbar-addon">
                        <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                        </svg>
                        </span>
                        <input type="text" class="form-control" name="query" hx-get="/search_accounts" hx-trigger="keyup changed" hx-target="#results" id="topbarInputIconLeft" placeholder="Search accounts" aria-label="Search" aria-describedby="topbar-addon" style="width: 215px;">
                    </div>
                </form>
            <a href="{{ url_for('clear_accounts') }}">
                <button class="btn btn-sm btn-danger animate-up-2 me-1" type="button">Clear</button>
            </a>
            <a href="{{ url_for('accounts_list') }}">
                <button class="btn btn-sm btn-info animate-up-2 me-1" type="button">Refresh</button>
            </a>
        </div>
    </div>
    <br>
    <div class="card border-0 shadow">
    {% if accounts %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded table-fixed">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">Name</th>
                        <th class="border-0">
                            Revenue (m)
                            <svg id="revenue-icon" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Sort</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2.24 6.8a.75.75 0 0 0 1.06-.04l1.95-2.1v8.59a.75.75 0 0 0 1.5 0V4.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0L2.2 5.74a.75.75 0 0 0 .04 1.06Zm8 6.4a.75.75 0 0 0-.04 1.06l3.25 3.5a.75.75 0 0 0 1.1 0l3.25-3.5a.75.75 0 1 0-1.1-1.02l-1.95 2.1V6.75a.75.75 0 0 0-1.5 0v8.59l-1.95-2.1a.75.75 0 0 0-1.06-.04Z"></path>
                            </svg>
                            <div id="revenue-menu" class="menu apple-select-menu">
                                <ul>
                                    <a href="{{ url_for('accounts_list', sort='revenue', order='asc') }}"><li>Ascending</li></a>
                                    <a href="{{ url_for('accounts_list', sort='revenue', order='desc') }}"><li>Descending</li></a>
                                </ul>
                            </div>

                        </th>
                        <th class="border-0">
                            Head Count
                            <svg id="count-icon" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="16" height="16">
                                <title>Sort</title>
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M2.24 6.8a.75.75 0 0 0 1.06-.04l1.95-2.1v8.59a.75.75 0 0 0 1.5 0V4.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0L2.2 5.74a.75.75 0 0 0 .04 1.06Zm8 6.4a.75.75 0 0 0-.04 1.06l3.25 3.5a.75.75 0 0 0 1.1 0l3.25-3.5a.75.75 0 1 0-1.1-1.02l-1.95 2.1V6.75a.75.75 0 0 0-1.5 0v8.59l-1.95-2.1a.75.75 0 0 0-1.06-.04Z"></path>
                            </svg>
                            <div id="count-menu" class="menu apple-select-menu">
                                <ul>
                                    <a href="{{ url_for('accounts_list', sort='head_count', order='asc') }}"><li>Ascending</li></a>
                                    <a href="{{ url_for('accounts_list', sort='head_count', order='desc') }}"><li>Descending</li></a>
                                </ul>
                            </div>
                        </th>
                        <th class="border-0">
                            Industry
                            <svg id="industry-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="17" height="17">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                            </svg>
                            <div id="industry-menu" class="menu apple-select-menu scrollable-menu">
                                {% if industries  %}
                                <ul>
                                    {% for industry in industries  %}
                                    <a href="{{ url_for('accounts_list', industry=industry) }}"><li>{{ industry }}</li></a>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </th>
                        <!-- <th class="border-0">Specialties</th> -->
                        <th class="border-0">
                            Type
                            <svg id="type-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="17" height="17">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                            </svg>
                            <div id="type-menu" class="menu apple-select-menu scrollable-menu">
                                {% if types %}
                                <ul>
                                  {% for type in types %}
                                  <a href="{{ url_for('accounts_list', type=type) }}"><li>{{ type }}</li></a>
                                  {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </th>
                        <th class="border-0">
                            Country
                            <svg id="country-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="17" height="17">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                            </svg>
                            <div id="country-menu" class="menu apple-select-menu scrollable-menu">
                                {% if countries %}
                                <ul>
                                    {% for country in countries %}
                                    <a href="{{ url_for('accounts_list', country=country) }}"><li>{{ country }}</li></a>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </th>
                        <th class="border-0">
                            City
                            <svg id="city-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="17" height="17">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                            </svg>
                            <div id="city-menu" class="menu apple-select-menu scrollable-menu">
                                {% if cities %}
                                <ul>
                                    {% for city in cities %}
                                    <a href="{{ url_for('accounts_list', city=city) }}"><li>{{ city }}</li></a>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </th>
                        <th class="border-0 rounded-end">
                            Timezone
                            <svg id="timezone-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="17" height="17">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                            </svg>
                            <div id="timezone-menu" class="menu apple-select-menu scrollable-menu">
                                {% if timezones %}
                                <ul>
                                    {% for timezone in timezones %}
                                    <a href="{{ url_for('accounts_list', timezone=timezone) }}"><li>{{ timezone }}</li></a>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </th>
                       
                    </tr>
                </thead>
                <tbody id="results">
                    <!-- Item -->
                    {% for account in accounts %}
                    <tr>
                        <td class="fw-bold">
                            <a class="link-info" href="{{ url_for('account', id=account.AccountID) }}">
                                {{ account.CompanyName if account.CompanyName }}
                            </a>
                        </td>
                        <td>{{ account.CompanyRevenue if account.CompanyRevenue }}</td>
                        <td>{{ account.EmployeeHeadCount if account.EmployeeHeadCount }}</td>
                        <td>{{ account.CompanyIndustry if account.CompanyIndustry }}</td>
                        <!-- <td>{{ account.CompanySpecialties }}</td> -->
                        <td>{{ account.CompanyType if account.CompanyType }}</td>
                        <td>{{ account.Country if account.Country }}</td>
                        <td>{{ account.City if account.City }}</td>
                        <td>{{ account.Timezone if account.Timezone }}</td>
                    </tr>
                    {% endfor %}
                    <!-- End of Item -->
                </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <br>
            <h4 class="mt-2"><span>No accounts found</span></h4>
            <br>
        </div>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdowns = [
                { iconId: 'revenue-icon', menuId: 'revenue-menu' },
                { iconId: 'count-icon', menuId: 'count-menu' },
                { iconId: 'industry-icon', menuId: 'industry-menu' },
                { iconId: 'count-icon', menuId: 'count-menu' },
                { iconId: 'type-icon', menuId: 'type-menu' },
                { iconId: 'country-icon', menuId: 'country-menu' },
                { iconId: 'city-icon', menuId: 'city-menu' },
                { iconId: 'timezone-icon', menuId: 'timezone-menu' }
            ];
        
            dropdowns.forEach(function(dropdown) {
                const menuIcon = document.getElementById(dropdown.iconId);
                const menu = document.getElementById(dropdown.menuId);
        
                menuIcon.addEventListener('click', function(event) {
                    event.stopPropagation();
                    menu.style.display = 'block';
                });
        
                document.addEventListener('click', function(event) {
                    if (!menu.contains(event.target) && event.target !== menuIcon) {
                        menu.style.display = 'none';
                    }
                });
            });
        });

    </script>
{% endblock %}