{% extends "base.html" %}

{% block title %}Import Accounts{% endblock %}

{% block route %}{{ url_for('accounts_list') }}{% endblock %}

{% block path %}Accounts{% endblock %}

{% block page %}Import{% endblock %}

{% block content %}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Import Accounts</h1>
        </div>
       
    </div>
</div>


<div class="card border-0 shadow">
    <div class="card-body">
        <form method="POST", enctype="multipart/form-data">
            {{ form.hidden_tag() }}
        
            <div class="mb-3">
                {{ form.file(class="form-control") }}
                <br>
                {{ form.submit(class="btn btn-info animate-up-2") }}
            </div>
        
        </form>
    </div>
</div>


{% endblock %}