{% for account in accounts %}
<tr>
    <td class="fw-bold">
        <a class="link-info" href="{{ url_for('account', id=account.AccountID) }}">
            {{ account.CompanyName if account.CompanyName }}
        </a>
    </td>
    <td>{{ account.CompanyRevenue if account.CompanyRevenue }}</td>
    <td>{{ account.EmployeeHeadCount if account.EmployeeHeadCount }}</td>
    <td>{{ account.CompanyIndustry if account.CompanyIndustry }}</td>
    <td>{{ account.CompanyType if account.CompanyType }}</td>
    <td>{{ account.Country if account.Country }}</td>
    <td>{{ account.City if account.City }}</td>
    <td>{{ account.Timezone if account.Timezone }}</td>
    <td>{{ account.Owner if account.Owner else 'Not assigned' }}</td>
</tr>
{% endfor %}