{% extends 'base.html' %}

{% block title %}Leads{% endblock %}

{% block route %}{{ url_for('leads_list') }}{% endblock %}

{% block path %}Leads{% endblock %}

{% block page %}List{% endblock %}

{% block content %}

<div class="py-4">
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">Leads</h1>
        </div>
    </div>
</div>

    <div class="mt-3 row">
        <div class="col d-flex justify-content-start">
            <a href="{{ url_for('import_leads') }}">
                <button class="btn btn-sm btn-primary animate-up-2 me-1 d-flex align-items-center justify-content-between" type="button">
                    <span class="me-2">Import</span>
                    <svg fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20">
                        <title>Import</title>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"></path>
                    </svg>
                </button>
            </a>
            <a href="{{ url_for('new_lead') }}">
                <button class="btn btn-sm btn-primary animate-up-2 me-1 d-flex align-items-center justify-content-between" type="button">
                    <span class="me-2">New</span>
                    <svg fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="20" height="20">
                        <title>New</title>
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>
                </button>
            </a>
        </div>
        <div class="col d-flex justify-content-end">
            <form class="navbar-search form-inline me-2" id="navbar-search-main">
                <div class="input-group input-group-merge search-bar">
                    <span class="input-group-text" id="topbar-addon">
                    <svg class="icon icon-xs" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                    </span>
                    <input type="text" class="form-control" name="query" hx-get="/search_leads" hx-trigger="keyup changed" hx-target="#results" id="topbarInputIconLeft" placeholder="Search leads" aria-label="Search" aria-describedby="topbar-addon" style="width: 215px;">
                </div>
            </form>
            <a href="{{ url_for('clear_leads') }}">
                <button class="btn btn-sm btn-danger animate-up-2 me-1" type="button">Clear</button>
            </a>
            <a href="{{ url_for('leads_list') }}">
                <button class="btn btn-sm btn-info animate-up-2 me-1" type="button">Refresh</button>
            </a>
        </div>
    </div>
    <br>
    <div class="card border-0 shadow">
    {% if leads %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-centered table-nowrap mb-0 rounded table-fixed">
                <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start">Name</th>
                        <th class="border-0">Email</th>
                        <th class="border-0">
                            Position
                            <svg id="position-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="17" height="17">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                            </svg>
                            <div id="position-menu" class="menu apple-select-menu scrollable-menu">
                                {% if positions %}
                                <ul>
                                    {% for position in positions %}
                                    <a href="{{ url_for('leads_list', position=position) }}"><li>{{ position }}</li></a>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </th>
                        <th class="border-0">
                            Company Name
                            <svg id="company-icon" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" width="17" height="17">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
                            </svg>
                            <div id="company-menu" class="menu apple-select-menu scrollable-menu">
                                {% if companies %}
                                <ul>
                                    {% for company in companies %}
                                    <a href="{{ url_for('leads_list', company=company) }}"><li>{{ company }}</li></a>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </th>
                        <th>City</th>
                        <th class="border-0">Status</th>
                        <th class="border-0">Owner</th>
                        <th class="border-0">Follow-Up</th>
                        <th class="border-0 rounded-end">Date Created</th>
                    </tr>
                </thead>
                <tbody id="results">
                    <!-- Item -->
                    {% for lead in leads %}
                    <tr>
                        <td class="fw-bold">
                            <a class="link-info" href="{{ url_for('lead', id=lead.LeadID )}}">
                                {{ lead.FirstName if lead.FirstName }} {{ lead.LastName if lead.LastName }}
                            </a>
                        </td>
                        <td>{{ lead.Email if lead.Email }}</td>
                        <td>{{ lead.Position if lead.Position }}</td>
                        <td>{{ lead.CompanyName if lead.CompanyName }}</td>
                        <td>{{ lead.Account.City if lead.Account.City }}</td>
                        <td>{{ lead.Status if lead.Status }}</td>
                        <td>{{ lead.Owner if lead.Owner}}</td>
                        <form id="followUp_{{ lead.LeadID }}" action="{{ url_for('follow_up', id=lead.LeadID) }}" method="POST">
                            <td>
                            <label class="apple-checkbox">
                                <input type="checkbox" oninput="submitForm({{lead.LeadID}})" {% if lead.FollowUp %}checked{% endif %}>
                                <span class="checkmark"></span>
                            </label>    
                        </td>
                        </form>
                        <td>{{ lead.DateCreated if lead.DateCreated }}</td>
                        
                    </tr>
                    {% endfor %}
                    <!-- End of Item -->
                </tbody>
                </table>
            </div>
        </div>
        {% else %}
        <div class="text-center">
            <br>
            <h4 class="mt-2"><span>No leads found</span></h4>
            <br>
        </div>
        {% endif %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const dropdowns = [
            { iconId: 'position-icon', menuId: 'position-menu' },
            { iconId: 'company-icon', menuId: 'company-menu' },
            ];
        
            dropdowns.forEach(function(dropdown) {
                const menuIcon = document.getElementById(dropdown.iconId);
                const menu = document.getElementById(dropdown.menuId);
        
                menuIcon.addEventListener('click', function(event) {
                    event.stopPropagation();
                    menu.style.display = 'block';
                });
        
                document.addEventListener('click', function(event) {
                    if (!menu.contains(event.target) && event.target !== menuIcon) {
                        menu.style.display = 'none';
                    }
                });
            });
        });
    </script>

    <script>
        function submitForm(leadID) {
            document.getElementById('followUp_' + leadID).submit();
        }
    </script>
        
{% endblock %}