{% for lead in leads %}
<tr>
    <td class="fw-bold">
        <a class="link-info" href="{{ url_for('lead', id=lead.LeadID )}}">
            {{ lead.FirstName if lead.FirstName }} {{ lead.LastName if lead.LastName }}
        </a>
    </td>
    <td>
        <a class="link-info" href="{{ url_for('account', id=lead.Account.AccountID )}}">
            {{ lead.Account.CompanyName if lead.Account.CompanyName }}
        </a>
    </td>
    <td>{{ lead.Email if lead.Email }}</td>
    <td>{{ lead.Position if lead.Position }}</td>
    <td>{{ lead.Account.City if lead.Account.City }}</td>
    <td>{{ lead.Status if lead.Status }}</td>
    <td>{{ lead.Owner if lead.Owner else 'Not assigned' }}</td>
    <form id="followUp_{{ lead.LeadID }}" action="{{ url_for('follow_up', id=lead.LeadID) }}" method="POST">
        <td>
            <label class="apple-checkbox">
                <input type="checkbox" oninput="submitForm({{lead.LeadID}})" {% if lead.FollowUp %}checked{% endif %}>
                <span class="checkmark"></span>
            </label>    
        </td>
    </form>
</tr>
{% endfor %}

<script>
    function submitForm(leadID) {
        document.getElementById('followUp_' + leadID).submit();
    }
</script>